<!DOCTYPE html>
<html>
<head>
	<title>Color Game</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/colorGame.css">
	<link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital@1&family=Open+Sans+Condensed:ital,wght@1,300&display=swap" rel="stylesheet">
</head>
<body>
<h1 id="headingBackground"> TEST YOUR INTUITION
	<br>
	<span id="colorDisplay">YOUR</span>
	<br>
	</h1>

<div id="stripe">
	<button id="reset">New Colors</button>
	<span id="message"></span>
	<button class="mode">Easy</button>
	<button class="mode" class="selected">hard</button>
</div>

<div id="container">
	<h2>Can you guess what color i have in mind ?</h2>
	<div class="square"></div>
	<div class="square"></div>
	<div class="square"></div>
	<div class="square"></div>
	<div class="square"></div>
	<div class="square"></div>
</div>
<script type="text/javascript" src="/scripts/colorGame.js"></script>
</body>
</html>